@import "./components/variables.pcss";
@import "./components/mixins.pcss";

@import "@htmlacademy/kit/src/css/variables.pcss";
@import "@htmlacademy/kit/src/css/mixins.pcss";


@import "./components/green.pcss";
@import "./components/nested.pcss";
@import "./components/wheat.pcss";
@import "./components/blue.pcss";
@import "./components/import.pcss";

.red {
  color: red;
}
